In [2]:
# -*- coding: utf-8 -*-
"""
Task0.ipynb
"""

import pandas as pd

data_frame = pd.read_csv('Task 0 Input.csv')

dates = data_frame['Date'].unique()

new_data_frame = pd.DataFrame(index=dates, columns=['Date', 'NTDOY', 'SONY', 'MSFT', 'ATVI', 'EA', 'TTWO', 'NCBDY', 'CCOEY', 'TCEHY', 'SQNXF'])

new_data_frame['Date'] = dates

for index, row in data_frame.iterrows():

  if row['Close'] - row['Open'] >= 0:
    new_data_frame.loc[row['Date'], row['Company']] = row['Volume']
  else:
    new_data_frame.loc[row['Date'], row['Company']] = 0

new_data_frame = new_data_frame.fillna(0)
new_data_frame = new_data_frame.sort_values(by='Date')

print(new_data_frame)

new_data_frame.to_csv('Task 0 Output.csv', index=False)

                  Date    NTDOY    SONY      MSFT     ATVI       EA     TTWO  \
2020-01-02  2020-01-02  1180500  856500  22622100        0        0        0
2020-01-03  2020-01-03   506000       0  21116200  4466300  1840300   729100
2020-01-06  2020-01-06  1162500  755500  20813700  4910800  2934200  1678700
2020-01-07  2020-01-07        0       0         0  4920300        0  1179300
2020-01-08  2020-01-08  2783000       0  27746500        0  2651600  1665900
...                ...      ...     ...       ...      ...      ...      ...
2022-12-26  2022-12-26        0       0         0        0        0        0
2022-12-27  2022-12-27        0       0         0        0        0  1225100
2022-12-28  2022-12-28        0       0         0  3049900        0  1928800
2022-12-29  2022-12-29   684300  574500  19770700  3150100  1222800  1526400
2022-12-30  2022-12-30   862900  413500  21938500  2710400  1164400  1749700

             NCBDY   CCOEY    TCEHY  SQNXF
2020-01-02       0       0  4293200      0
2020-01-03       0       0  2728500      0
2020-01-06       0       0  4712100      0
2020-01-07  917700  917700  4667000      0
2020-01-08       0       0  2925200      0
...            ...     ...      ...    ...
2022-12-26  295300  295300        0      0
2022-12-27       0       0  4433500    100
2022-12-28       0       0        0    200
2022-12-29  541200  541200  4546700      0
2022-12-30       0       0  1505500    100

[781 rows x 11 columns]